@import "./typography.scss";


.container {
  width: 100%;
  max-width: 700px;
  vertical-align: middle;
  padding: 1rem 1rem;
}
.rank {
  @extend .body;
  width: 100%;
  max-width: 250px;
  vertical-align: middle;
  padding: 1rem 1rem;
}