@import "./colors.scss";

.btn {
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  color: lightgray;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;



  &:hover {
    cursor: pointer;
    transform: scale(0.98);
  }
}

.nav{
  background: $primary;
  opacity: 0.75;
  height: 45px;
  width:100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  z-index: 12;
}
